.name-container {
    margin-top: 4rem;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.name-top h1 {
    font-size: 3.4em;
    font-weight: 100;
    text-align: center;
    font-family: var(--name-font);
    color: rgb(255, 255, 255);
    z-index: 4;
    padding: 0rem 1.5rem;
}

.name-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.name-bottom {
    display: flex;
    justify-content: space-evenly;
    width: fit-content;
    font-family: var(--crimson-font);
}

.name-bottom p {
    padding: 0rem 4vw;
}


@media screen and (max-width: 600px) {
    .name-container {
        margin-top: 1rem;
    }
    .name-top h1 {
        font-size: 3em;
        font-weight: 100;
        text-align: center;
        z-index: 4;
    }
    
    
}