@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=My+Soul&display=swap');
*{
  margin: 0;
  padding: 0;
  
}


:root {
  --name-font: 'My Soul', cursive;
  --background-color: #222121;
  --text-color: #fff;
  --dark-color: #101010;
  --spotify-color: #1CCC5B;
  --discord-color: #3e4492;
  --steam-color: #052f77;
  --instagram-color: #e1305c;
  --pretty-font: 'Oooh Baby', cursive;
  --crimson-font: 'Crimson Text', serif;
  --standard-font: 'Roboto', sans-serif;
}

.App {
  text-align: center;

}

.App-header {
  background-color: var(--background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  background-image: url("./images/snurtools5.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
#bg-blur {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color:rgba(0, 0, 0, 0.664);

}
#bg-intro {
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.App-link {
  color: #61dafb;
}

.mid-section{
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-around;
  padding: 0rem 0vw;
  z-index: 2;
}
.mid-section div {
  width: 12em;
}
.right-section {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0rem;
  z-index: 2;
  overflow-x: hidden;
  width: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 1rem;
}

.line {
  background-color: white;
  width: 250px;
  height: 5px;
  margin: 0;
  padding: 0;
  z-index: 1001;
  border-radius: 50rem;
  position: absolute;
}
.line-long, .line-mid, .line-short {
  border-radius: 100rem;
}
.line-long {
  background-color: white;
  width: 250px;
  height: 5px;
  transform: rotate(45deg);
}
.line-mid {
  background-color: white;
  width: 5px;
  height: 80px;
}
.line-short {
  background-color: white;
  width: 5px;
  height:52px;

}
.logo-right {
  transform: rotate(90deg);
  transform: scaleX(-1);  
  position: absolute;
  left: calc(50% + 12.5rem);
}
.logo-left {
  position: absolute;
  left: calc(50% - 12.5rem);
}
.line-long.mid {
  width: 220px;
}
@media screen and (max-width: 600px) {
  .right-section {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    right: 0;
    z-index: 2;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
  padding-right: 0rem;
  }

  .mid-section {
    margin-top: 1rem;
  }

  .mid-section h1 {
    width: 100vw;
  }
  
}
.about-container {
  margin-left: -1.1rem;
}
.playlist-container {
  margin-right: -1.1rem;
}
@keyframes App-logo-spin {
  from {
    transform: translateY(10%);
  }
  50% {
    transform: translateY(0%);
  }
  to {
    transform: translateY(10%);
  }
}
.App-logo {
  height: 13vmin;
  pointer-events: none;
  position: absolute;
  right: 30vw;
  top: 60px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s ;
  }
}